<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${application.home:-.}/logs/application.log</file>
    <encoder>
      <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="play" level="INFO" />
  <logger name="application" level="INFO" />


  <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>logs/books_library.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%date{ISO8601} level=[%level] logger=[%logger] thread=[%thread] message=[%message] %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT_IGNORE_NETTY" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%date{ISO8601} level=[%level] logger=[%logger] thread=[%thread] rid=[not-available] user=[not-available] message=[%message] %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
    </encoder>
  </appender>



  <appender name="ACCESS_LOG_FILE" class="ch.qos.logback.core.FileAppender">
    <file>logs/access.log</file>
    <encoder>
      <pattern>%message%n</pattern>
    </encoder>
  </appender>

  <appender name="CONNECTOR_LOG_FILE" class="ch.qos.logback.core.FileAppender">
    <file>logs/connector.log</file>
    <encoder>
      <pattern>%message%n</pattern>
    </encoder>
  </appender>


  <logger name="accesslog" level="INFO" additivity="false">
    <appender-ref ref="ACCESS_LOG_FILE" />
  </logger>

  <logger name="com.ning.http.client.providers.netty" additivity="false">
    <appender-ref ref="STDOUT_IGNORE_NETTY" />
  </logger>


  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF" />
  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />

  <logger name="connector" level="INFO">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="reactivemongo" level="INFO" />
<!--  <logger name="com.google.inject" level="DEBUG"/>-->

<!--  <logger name="com.ning.http.client" level="DEBUG"/>-->

<!--  <logger name="org.asynchttpclient.netty.channel.DefaultChannelPool" level="DEBUG"/>-->

<!--  <logger name="org.asynchttpclient.netty" level="DEBUG"/>-->

<!--  <logger name="play.core.netty" level="DEBUG"/>-->

  <root level="ERROR">
    <appender-ref ref="FILE"/>
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
